{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center">FIIIIGHT !</h2>
            <div class="row">
                <div class="col-md-5">
                    <div class="alert alert-info" role="alert">
                        <h3>Striker</h3>
                        <p>Striker Pokemon is {{ strikerPokemon.name }}</p>
                        <p>Type: {{ strikerPokemon.type }}</p>
                        <p>HP: {{ strikerPokemon.hp }}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <p class="text-center" style="padding-top: 75px;">VS</p>
                </div>
                <div class="col-md-5">
                    <div class="alert alert-warning" role="alert">
                        <h3>Defensor</h3>
                        <p>Defensor Pokemon is {{ defensorPokemon.name }}</p>
                        <p>Type: {{ defensorPokemon.type }}</p>
                        <p>HP: {{ defensorPokemon.hp }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                        <p>Damage dealt by {{ strikerPokemon.name }} : {{ pokemonAttack }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-warning" role="alert">
                        <p>{{ defensorPokemon.name }} has {{ defensorHp }} hp remaining</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

